html {
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
	background-image: url("images/feutrine.jpg");
	background-position: center;
	background-size: cover;
}

#background {
	height: 100%;
	width: 100%;
	background-image: url("logos/fcbeaujeu.png");
	background-size: 120px auto;
}

.marquee-title {
	color: fuchsia;
}

.presentation {
	text-align: center;
	color: yellow;
}

.titles {
	background-color: purple;
}

.content {
	text-align: left;
}