@font-face {
	font-family: comic-local;
	src: url(fonts/comic.ttf);
}

body{
	background-image: url("images/feutrine.jpg");
	background-position: center;
	background-size: repeat;
}

#background {
	background-image: url("logos/fcbeaujeu.png");
	background-size: 120px auto;
}

.marquee-title {
	color: fuchsia;
}

.presentation {
	text-align: center;
	color: yellow;
}

.titles {
	background-color: purple;
}

.content {
	text-align: left;
	font-family: comic-local, cursive;
}

a {
	color: yellow;
	text-decoration: none;
}

a:hover {
	color: lightgreen;
	text-decoration: none;
}

.ad {
	padding-bottom: 3%;
	padding-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: yellow;
	background-color: purple;
}