html {
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
	background-image: url("images/feutrine.jpg");
	background-position: center;
	background-size: cover;
}

#background {
	height: 100%;
	width: 100%;
	background-image: url("logos/fcbeaujeu.png");
	background-size: 120px auto;
}

.marquee-title {
	color: fuchsia;
}

.presentation {
	text-align: center;
	color: yellow;
}

.titles {
	background-color: purple;
}

.content {
	text-align: left;
}

.row {
	display: flex;
}

.column {
	flex: 75%;
}

a {
	color: fuchsia;
	text-decoration: none;
}

a:hover {
	color: whitesmoke;
}